body {
  background-color: azure;
}

.form h2 {
  white-space: nowrap;
  border-right: 2px solid black;
  text-align: center;
  overflow: hidden;
  width: 12ch;
  animation: blink 0.7s infinite step-end alternate,
    types 6s steps(12) infinite alternate;
}

.form-div {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  padding: 20px;

  border-image: linear-gradient(
    rgb(52, 255, 34),
    rgb(255, 0, 234),
    rgba(145, 155, 2, 0)
  );
  border-image-slice: 1;
  filter: drop-shadow(0.3rem 0 0.3rem rgba(0, 0, 0, 0.267));
}

.form-input {
  margin: 12px 0px 20px 35px;

  padding: 10px;
  width: 100%;
  border: 0.2px solid transparent;
  border-radius: 20px;
}

.form-input:focus {
  border: 0.2px solid rgb(6, 206, 212);
  outline: none;
}

label {
  color: rgb(0, 0, 0);
}

.button-form {
  margin: 12px 30px;
  border: 1px solid transparent;
  background: linear-gradient(
    0.1turn,
    rgb(52, 255, 34),
    rgba(253, 250, 252, 0.411)
  );
  padding: 6px;
  border-radius: 20px;
  color: red;
  cursor: pointer;
}

.button-form:hover {
  transition: 0.3s ease-in;
  transform: scale(1.1);
}

.form-footer {
  display: flex;
  margin: 12px;
  justify-content: flex-end;
  font-size: 12px;
}

a {
  padding: 12px;
  text-decoration: none;
  color: rgba(255, 0, 0, 0.575);
}

.form-footer span {
  opacity: 0.7;
  margin-top: 7px;
  font-size: 20px;
}

a:hover {
  color: red;

  cursor: pointer;
}

.checkbox {
  font-size: 12px;
  padding: 12px;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes types {
  from {
    width: 0;
  }
}
